<ion-header>
  <!-- <ion-toolbar>
    <ion-title>animals</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  

  <div class="fondo">
    <div class="numeros">
      <ion-grid>
        <!-- <ion-row size="4">
          <ion-col size="4" *ngFor="let numero of numeros"> -->
        <ion-row>
            <ion-col size="4" size-lg="2" size-md="2" size-sm="2"
             *ngFor="let numero of numeros">    
            <img (click)="reproducirSonido(numero)" [src]="numero.imagen" width="80%">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
      <img src="{{bandera}}">
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="dark" (click)="cambiarIdioma1()">
        <img src="../../../assets/img/fab/brasil.png">
      </ion-fab-button>
      <ion-fab-button color="dark" (click)="cambiarIdioma2()">
        <img src="../../../assets/img/fab/argentina.png">
      </ion-fab-button>
      <ion-fab-button color="dark" (click)="cambiarIdioma3()">
        <img src="../../../assets/img/fab/ingles-png.png">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div class="loadingContainerLogin" id="loadingContainerLogin" *ngIf="spinner">
    <div class="loadingLogin"  >
      <img src="../../../assets/img/logoEmpresa.png">
    </div>
  </div>

  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-forward" ios="chevron-forward-circle-outline"></ion-icon>
      <img src="../../../assets/img/fab/numeros.png">
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button color="dark">
        <ion-fab-button color="dark">
          <img src="../../../assets/img/fab/animales.png" (click)="moverA('/animals')">
        </ion-fab-button>
      </ion-fab-button>
      <ion-fab-button color="dark">
        <img src="../../../assets/img/fab/colores.png" (click)="moverA('/colores')">
      </ion-fab-button>
      <ion-fab-button color="dark">
        <img src="../../../assets/img/fab/numeros.png" (click)="moverA('/numeros')">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>