.logo-avatar{
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 7rem;
    width: 100px;
    height: 100px;
    
}

.logo{
    border-radius: 100%;
    border-color: white;
}

.btn-exit{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}