<ion-content fullscreen color="">
  <div class="form-register">
    <ion-toolbar color="">
      <ion-title class="ion-text-center">
        <h2>Registrar Usuario</h2>
      </ion-title>
    </ion-toolbar>
    <br>

    <form [formGroup]="registerForm" (ngSubmit)="registrarseClick()"> 
      <!-- nombre -->
    <ion-item color="" class="ion-padding-start ion-padding-end" fill="outline">
      <ion-label position= "floating"><ion-icon name="person-outline"></ion-icon> Nombre</ion-label><br>
      <ion-input 
        type="text" 
        formControlName="name" 
        [(ngModel)]="registerData.nombre" 
        >
      </ion-input>
    </ion-item>
    <div class="" >
      <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getNameControl().errors?.required && getNameControl().touched">Campo obligatorio</small>
      <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getNameControl().errors?.minlength && getNameControl().touched">Mínimo 2 caracteres</small>
    </div>

    <!-- email -->
    <ion-item color="" class="ion-padding-start ion-padding-end" fill="outline">
      <ion-label position= "floating"><ion-icon name="mail-outline"></ion-icon> Email</ion-label><br>
      <ion-input 
        type="email" 
        formControlName="email" 
        [(ngModel)]="registerData.loginData.email" 
        >
      </ion-input>
    </ion-item>
    <div>
      <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getEmailControl().errors?.required && getEmailControl().touched">Campo obligatorio</small>
      <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getEmailControl().errors?.email && getEmailControl().touched">Formato incorrecto</small>
    </div>

    <!-- genero -->
    <ion-item color="" class="ion-padding-start ion-padding-end" fill="outline">
      <ion-label position= "floating"><ion-icon name="male-female-outline"></ion-icon> Género</ion-label><br>
      <ion-select 
        interface="popover" 
        formControlName="genero" 
        [(ngModel)]="registerData.genero">
        <ion-select-option value="1">Femenino</ion-select-option>
        <ion-select-option value="2">Masculino</ion-select-option>
        <ion-select-option value="3">Otro</ion-select-option>
      </ion-select>
    </ion-item>
    <div>
      <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getGeneroControl().errors?.required && getGeneroControl().touched">Campo obligatorio</small>
    </div>

    <!-- pass 01 -->
    <ion-item class="ion-padding-start ion-padding-end" color="">
      <ion-label position= "floating"><ion-icon name="lock-closed-outline"></ion-icon> Contraseña</ion-label>
      <ion-input 
        type="password" 
        formControlName="pass1"
        [(ngModel)]="registerData.loginData.pass" >
      </ion-input>
    </ion-item>
    <div>
      <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getPass1Control().errors?.required && getPass1Control().touched">Campo obligatorio</small>
      <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getPass1Control().errors?.minlength && getPass1Control().touched">Mínimo 6 caracteres</small>
    </div>

    <!-- pass 02 -->
    <ion-item class="ion-padding-start ion-padding-end" color="">
      <ion-label position= "floating"><ion-icon name="lock-closed-outline"></ion-icon> Confirmar Contraseña</ion-label>
      <ion-input 
        type="password"
        formControlName="pass2"
        [(ngModel)]="passConfirmation">
      </ion-input>
    </ion-item>
    <div>
      <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getPass2Control().errors?.required  && getPass2Control().touched">Campo obligatorio</small>
      <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getPass2Control().errors?.minlength  && getPass2Control().touched">Mínimo 6 caracteres</small>
    </div>
    <br>

    <p class="ion-padding-start ion-padding-end" > 
      <ion-button type="submit" expand="block" color="" class="btn-register" [disabled]="registerForm.invalid">Registrarse</ion-button>
    </p>
    </form>
    

    <p class="ion-padding-start ion-padding-end" > 
      <ion-button type="ion-button" expand="block" color="secondary" class="btn-login" (click)="goToLogin()">Ingresar</ion-button>
    </p>
    
  </div>
</ion-content>

