<ion-content>
  <div class="fondo">
    
    <form  (ngSubmit) = "onSubmitLogin()">

    <div class="rectangulo">

      <label class="label1">Correo Electrónico</label>
      <ion-input type="text" class="input1" id="input1" name="email"
      placeholder="ejemplo@gmail.com"></ion-input>
      <div id="mensaje1" class="mensaje1" hidden>
        <p>Correo invalido</p>
      </div>

      <label class="label2">Contraseña</label>
      <ion-input type="password" class="input2" id="input2" name="password"
      placeholder="******"></ion-input>
      <div id="mensaje2" class="mensaje2" hidden>
        <p>Contraseña invalida</p>
      </div>
      <div id="mensaje3" class="mensaje3" hidden>
        <p>Usuario no encontrado </p>
      </div>
      <button type="submit" class="boton1">Enviar</button>
      <button type="reset" (click)="clearInputs()" (click)="hideDirs()" class="boton2">Limpiar</button>


      
       


     
      
    </div>
    
    
    </form>

    <ion-fab horizontal="end" vertical="bottom" >

      <ion-fab-button color="danger">
        <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
        <img src="{{imgUser}}">
      </ion-fab-button>   
  
      <ion-fab-list side="start" >          
        <!-- <ion-fab-button color="dark" (click)="completar1()" value="admin@admin.com" style=" margin-right: 60px "> -->
          <ion-fab-button color="dark" (click)="completar1()" value="admin@admin.com">
             <img src="../../../assets/user/admin.png" >
          </ion-fab-button>      

        <ion-fab-button color="dark" (click)="completar2()" value="invitado@invitado.com">
          <img src="../../../assets/user/invitado.png" >
          
        </ion-fab-button>

        <ion-fab-button color="dark"  (click)="completar3()" value="usuario@usuario.com">
          <img src="../../../assets/user/user.png" >
        </ion-fab-button>

        <ion-fab-button color="dark" (click)="completar4()" value="anonimo@anonimo.com">
          <img src="../../../assets/user/anonimo.png" >
        </ion-fab-button>

        <ion-fab-button color="dark"  (click)="completar5()" value="tester@tester.com">
          <img src="../../../assets/user/test.png" >
        </ion-fab-button>
  
      </ion-fab-list>
  
    </ion-fab>
  <div class="loadingContainer" id="loadingContainer" hidden>
    <div class="loading">
      <img src="../../../assets/logoEmpresa.png">
    </div>
  </div>
  </div>
</ion-content>




