#fondo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: url("../assets/splashAlarma.png") no-repeat center / cover;
}

#logoSplash{
    height: 40vh;
    width: 40vw;
    display: flex;
    left: 30vw;
    bottom: 30vh;
    align-items: center;
    justify-content: center;
    animation: animacion .5s infinite;
    position: absolute;
}

@keyframes animacion{
    from { transform: none; }
    50% { transform: scale(1.4); }
    to { transform: none; }
}