#fondo{
    --background: url("./../../../assets/fondo1.jpg") no-repeat center / cover;
}

.h-40{
    height: 40%;
}

button{
    font-size:10vh;
    font-weight: 700;
    color: rgb(123, 15, 15);
    
}

svg{
    margin-bottom: 1rem;
}